@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Caveat', cursive, sans-serif;
    background-color: rgba(16, 2, 65, 0.644);
}

.container{
    border: 1px solid #000;
    width: 90%;
    margin:auto;
    display: flex;
}

.groceries{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: #fff;
    box-shadow: 10px 10px 24px 0 rgba(29, 3, 90, 0.527);
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
    color: rgb(28, 6, 82);
}

.groceries i{
    font-size: 2rem;
    color: rgb(32, 4, 83);
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #000;
    width: 70%;
    font-size: 2rem;
    padding: 10px 0 0 10px;
}

#all_items{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 2rem;
}

@media (max-width: 480px){
    .groceries h1{
        font-size: 2rem;
    }
    .groceries i{
        font-size: 1.5rem;
    }
    .groceries input{
        font-size: 1.5rem;
    }
    #all-items{
        margin-left: 25px;
        font-size: 2rem;
    }
    
}